@using JinnSports.BLL.Dtos
@using JinnSports.BLL.Filters
@using System.ComponentModel
@model JinnSports.WEB.Areas.Mvc.Models.TeamDetailsViewModel

@{
    ViewBag.Title = "Team Details";
    Layout = "~/Areas/Mvc/Views/Shared/_Layout.cshtml";
}


    <h2 style="text-align:center">@Model.TeamResultDto.Team.Name</h2>
    @Html.Partial("_TeamDetailsFilterPartial", Model.Filter)
    <table id="teamResults" class="table table-hover table-striped"
           cellspacing="0" style="border-collapse:collapse;">
        <thead style="background: #6495ED; font-size : 16px;">
            <tr>
                <th scope="col">
                    Команда
                </th>
                <th scope="col">Счёт</th>
                <th scope="col">
                    Команда
                </th>
                <th scope="col">
                    @Html.ActionLink("Дата", Model.ActionName, Model.ControllerName, new TeamDetailsFilter()
                    {
                       TeamId = Model.Filter.TeamId,
                       Page = Model.Filter.Page,
                       PageSize = Model.Filter.PageSize,
                       OpponentTeamName = Model.Filter.OpponentTeamName,
                       SortedField = "Date",
                       SortDirection = Model.Filter.SortDirection == ListSortDirection.Ascending ? ListSortDirection.Descending : ListSortDirection.Ascending
                    }, new { style = "color:#000000" })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ResultDto result in Model.TeamResultDto.Results)
            {
                <tr class="cursor-pointer">
                    <td> @Html.DisplayFor(res => result.TeamNames.ToArray()[0]) </td>
                    <td> @Html.DisplayFor(res => result.Score) </td>
                    <td> @Html.DisplayFor(res => result.TeamNames.ToArray()[1]) </td>
                    <td> @Html.DisplayFor(res => result.Date) </td>
                </tr>
            }
        </tbody>
</table>
@Html.Partial("_TeamDetailPaginationPartial", Model)


