@using System.Collections.Generic;
@using JinnSports.WEB.Areas.Mvc.Models
@using JinnSports.BLL.Dtos;
@using JinnSports.BLL.Filters;
@using System.ComponentModel;
@using JinnSports.BLL.Dtos.SportType;

@model SportEventViewModel

@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Mvc/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_EventFilterPartial", Model)

<table id="sportEvents" class="table table-hover table-striped"
       cellspacing="0" style="border-collapse:collapse;">
    <thead style="background: #6495ED; font-size : 16px;">
        <tr>
            <th scope="col">Команда</th>
            <th scope="col">Счёт</th>
            <th scope="col">Команда</th>
            <th scope="col">
                @Html.ActionLink("Дата", Model.ActionName, Model.ControllerName, new SportEventFilter()
               {
                   Page = Model.Filter.Page,
                   PageSize = Model.Filter.PageSize,
                   TeamName = Model.Filter.TeamName,
                   SportTypeId = Model.Filter.SportTypeId,
                   SortedField = "Date",
                   SortDirection = Model.Filter.SortDirection == ListSortDirection.Ascending ? ListSortDirection.Descending : ListSortDirection.Ascending,
                   DateFrom = Model.Filter.DateFrom,
                   DateTo = Model.Filter.DateTo
               }, new { style = "color:#000000" })
            </th>
            <th scope="col">
                @Html.ActionLink("Вид спорта", Model.ActionName, Model.ControllerName, new SportEventFilter()
               {
                   Page = Model.Filter.Page,
                   PageSize = Model.Filter.PageSize,
                   TeamName = Model.Filter.TeamName,
                   SportTypeId = Model.Filter.SportTypeId,
                   SortedField = "SportType",
                   SortDirection = Model.Filter.SortDirection == ListSortDirection.Ascending ? ListSortDirection.Descending : ListSortDirection.Ascending,
                   DateFrom = Model.Filter.DateFrom,
                   DateTo = Model.Filter.DateTo
               }, new { style = "color:#000000" })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ResultDto result in Model.Results)
        {
            <tr class="cursor-pointer">
                <td> @Html.DisplayFor(res => result.TeamNames.ToArray()[0]) </td>
                <td> @Html.DisplayFor(res => result.Score) </td>
                <td> @Html.DisplayFor(res => result.TeamNames.ToArray()[1]) </td>
                <td> @Html.DisplayFor(res => result.Date) </td>
                <td> @Html.DisplayFor(res => result.SportType.Name)</td>
            </tr>
        }
    </tbody>
</table>



@Html.Partial("_EventPaginationPartial", Model)

